.pad_center{
    padding-top: 200px;
    }
body{
    background-color: white;

}
.navbar{
    background-color: #323754;
    border-radius: 0px;
    margin-bottom: 0px;
}
.verNav{
    background-color: #323754;
    color:white;
}
.list-scroll{
    height:100%;
    overflow-y: auto;
}
