.pad_center{
    padding-top: 200px;
    }
body{
    font-family: sans-serif;
    background-color: white;

}
.navbar{
    background-color: #323754;
    border-radius: 0px;
    margin-bottom: 0px;
}
.verNav{
    background-color: #323754;
    color:white;
}
.list-scroll{
    height:100%;
    overflow-y: auto;
}
.heading{
    text-align: center;
    color: #5675B9;
}
.question{
    height: 30%;
}
.content{
    padding-left:5%;
    padding-top:5%;
}
.select{
    padding-left:30%;
    padding-top:20%;
    color:#5675B9;
}
.challenge{
    cursor: pointer;
    cursor: hand;
}
.score{
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    background:#5675B9;
}
.tot{
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    color:#5675B9;
}
.totscore{
    text-align: center;
    font-size: 20px;
    font-weight: 1000;
    color:white;
    background-color:#5675B9;
}
.clockdiv{
	color:  white;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 20px;
}

.clockdiv > div{
	padding: 10px;
    border-radius: 3px;
	background: #323754;
}

.clockdiv div > span{
	padding: 5px;
	border-radius: 3px;
	background: #5675B9;
	display: inline-block;
}
.timer{
    padding-top: 5%;
}
